$screen-min: 320px;
$screen-custom-small: 355px;
$screen-extra-small: 420px;
$screen-custom-extra-small: 590px;
$screen-small: 768px;
$screen-medium: 1024px;
$screen-max: 1136px;
$screen-large: 1200px;

$color-button: #238cbb;
$color-link-popup: #3a8eb4;
$color-primary-text: #3d4a5a;
$color-main-text: #6d7683;
$color-button-text: #ebf9ff;